:root {
    --primary-100: #0085ff;
    --primary-200: #69b4ff;
    --primary-300: #e0ffff;
    --accent-100: #006fff;
    --accent-200: #e1ffff;
    --text-100: #ffffff;
    --text-200: #9e9e9e;
    --bg-100: #1e1e1e;
    --bg-200: #2d2d2d;
    --bg-300: #454545;
  }
  
  body {
    background-color: var(--bg-100);
    color: var(--text-100);
    font-family: inherit; 
  }
  
  /* Example usage of colors */
  .primary-button {
    background-color: var(--primary-100);
    color: var(--text-100);
    font-family: inherit; 
  }
  
  .accent-button {
    background-color: var(--accent-100);
    color: var(--text-100);
    font-family: inherit; 
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #FFFFFF;
  }
  
  header {
    background-color: #2D2D2D;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 35px;
    
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  nav ul li a:hover{
    color:#0085FF;
  }
  
  section.welcome-section {
    position: relative;
    height: 100vh;
  }
  
  .welcome-section .background-image {
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-image: url('images/welcome.jpg'); /* Replace with your background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7); 
  }
  
  .welcome-section .welcome-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .welcome-section h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .welcome-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .learn-more-button {
    display: inline-block;
    background-color: #0085FF;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-button:hover {
    background-color: #69B4FF;
  }
  
  /*SERVICES PAGE*/
  .services-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-title{
    color: #FFFFFF;
    text-align: center;
    
  }
  
  .services-section .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-image: url('images/welcome\ background.jpg'); /* Replace with your background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7); /* Adjust the brightness as desired */
    z-index: -1;
  }
  
  .services-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 30px;
  }
  
  .box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    color: #2D2D2D;
  }
  .box:hover{
    background-color: #2D2D2D;
    color: #FFFFFF;
  }
  
  .box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .learn-more-button {
    display: inline-block;
    background-color: #0085FF;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-button:hover {
    background-color: #69B4FF;
  }

/*TESTIMONIAL PAGE*/
.testimonial-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}

.testimonial-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #2D2D2D;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonial .position {
  font-size: 14px;
  color: #888888;
  margin-bottom: 5px;
}

.testimonial .location {
  font-size: 14px;
  color: #888888;
  margin-bottom: 15px;
}

.testimonial .testimonial-content {
  font-size: 14px;
  line-height: 1.5;
}
  
  
  
  
  
    